body {
  background: #F0F3F8;
  font-family: sans-serif;
  margin: 0;
  height: 100%;
}

#loading-modal {
  display: none;
  justify-content: center;
  align-items: flex-start;
  padding-top: 500px;
  position: absolute;
  z-index: 500;
  width: 100vw;
  height: 150%;
  opacity: 75%;
  background-color: gray;
  font-size: 45px;
}

.button {
  border-radius: 3px;
  padding: 10px 30px;
  text-decoration: none;

  &.primary {
    background: $blue;
    color: $white;

    &:hover {
      background: darken($blue, 10);
    }
  }
}

.card {
  background: $white;
  margin: auto;
  margin-bottom: $big-spacing;
  width: 1000px;

  &.no-pad {
    padding: 0;
  }

  &.bigger {
    max-width: 1400px;
  }
}

.box-shadow {
  box-shadow: 0 5px 10px 0 rgba(#6892FF, 0.25);
}

.tab-menu {
  border-bottom: 1px solid #a6afbe;
  display: flex;
  width: 1000px;
  margin-bottom: $small-spacing;
  margin-top: $big-spacing;

  .tab-menu__item {
    color: gray;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    padding-right: 150px;
    padding-left: 20px;
    padding-bottom: 20px;
    transform: scale(1, .95);
    -webkit-transform: scale(1, .95); /* Safari and Chrome */
    -moz-transform: scale(1, .95); /* Firefox */
    -ms-transform: scale(1, .95); /* IE 9+ */
    -o-transform: scale(1, .95); /* Opera */

    &.selected {
      color: black;
      font-weight: 600;
      box-shadow: 0 5px 0 0 $blue;  
      margin-bottom: 3px;
    }
  }

  div:last-child{
    padding-left: 40px
  }

}

.hidden {
  display: none;
}
